---
import Layout from "../layouts/Layout.astro";
const title = "<Alvaro Aburto Ocampo />";
import "@fontsource/fira-mono";
---

<Layout title="Mi informacion">
  <header>
    <h1>{title}</h1>
    <h5>Desarrollador Web Full-Stack(Front-End / Developer / Back-End )</h5>
    <p>
      ¡Hola, soy Álvaro Aburto, también conocido como Lil Dree. Soy un
      apasionado desarrollador de software con sede en Costa Rica, especializado
      en desarrollo web Full-Stack.
    </p>
    <div>
      <img src="" alt="" />
    </div>
  </header>
</Layout>

<style>
  header {
    font-family: "Fira Mono", sans-serif;
    color: black;
  }
  h1 {
    text-align: center;
  }
  h5 {
    text-align: center;
  }
  p {
    text-align: justify;
  }
</style>
